recaptcha {
    display: inline-block;
    overflow: hidden;
}
recaptcha > div {
    transform: scale(0.65);
    transform-origin: left;
    margin-right: -107px;
}
recaptcha * {
    overflow: hidden;
}