h2:first-of-type {
    margin-top: 0;
}
h2::before {
    content: attr(label);
    position: relative;
    bottom: -18px;
    padding: 0 13px;
    background-color: var(--background-color);
}
h2 {
    z-index: 10;
    background-color: var(--background-color);
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--grey);
    position: relative;
    margin: 30px 0;
    position: sticky;
    top: 34px;
}
@media only screen and (max-width: 500px) {
    h2 {
        top: 0px;
    }
}
button[label="Change"] {
    float: right;
}
label.switch {
    display: block;
    margin: 15px 0;
}