author-main {
    --portion-gap: 20px;
    display: block;
    columns: 2 350px;
    column-gap: var(--portion-gap);
}
author-main > * {
    margin: var(--portion-gap) var(--portion-gap) var(--portion-gap) 0;
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-shadow: var(--shadow-light);
}
author-bio {
    word-break: break-word;
}
author-bio > content {
    white-space: break-spaces;
}
/* Edit */
.edit-about:empty::before {
    color: var(--theme-color);
    font-family: 'icons';
    content: '\e909';
    padding: 10px;
    border-radius: 50px;
    transition: background-color .2s;
}
.edit-about:empty:hover::before {
    color: var(--theme-color);
    background-color: var(--hover);
}
.edit-about:empty {
    float: right;
}
.edit-about.edit,
.edit-about.edit ~ content,
.edit-about:not(.edit) ~ text-input,
.edit-about:not(.edit) ~ button {
    display: none;
}
.edit-about ~ button {
    float: right;
}
author-books::before {
    display: block;
    content: attr(books) ' Stories';
    color: var(--text-color);
    opacity: 0.7;
    padding: 0 0 20px 20px;
    margin-bottom: -10px;
}
author-books > .button.more {
    position: relative;
    width: -webkit-fill-available;
    width: -moz-available;
    border-color: transparent;
    margin-bottom: 20px;
}
author-books > .button.more::before {
    padding-right: 7px;
    font-family: 'icons';
    content: '\e904';
    font-size: 16px;
}
author-books > .button.more::after {
    content: 'More Stories';
}
author-books > books-container.grid {
    box-shadow: none;
    padding: 0;
}