author-name {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}
author-stats {
    color: var(--darkgrey);
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
}
author-stats > stat {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
}
author-stats > stat::before {
    margin-left: -1px;
    margin-bottom: -5px;
    content: attr(count);
    text-align: center;
}
author-stats > stat::after {
    content: attr(label);
    text-align: center;
}
author-nav {
    display: flex;
    margin-bottom: 20px;
}
author-nav > a {
    color: var(--text-color);
    border-bottom: 1.5px solid transparent;
    padding: 5px;
    margin: 0 3px;
}
@media only screen and (max-width: 400px) {
    author-nav {
        justify-content: center;
        font-size: 0.9rem;
    }
}
author-nav > a:hover {
    color: var(--text-color);
}
author-nav > a[active],author-nav > a:hover {
    border-color: var(--theme-color);
}
author-nav > a[active] {
    pointer-events: none;
}
author-nav > a.logo-link {
    margin-left: auto;
    padding: 0 5px;
}

/* Author Settings */
a.author-settings::before {
    font-family: 'icons';
    content: '\e932';
}
a.author-message::before {
    font-family: 'icons';
    content: '\e937';
    transform: scale(0.95);
}
.author-follow::before {
    font-family: 'icons';
    content: '\e930';
    transform: scale(0.8);
}
.author-follow.followed::before {
    content: '\e901';
    transform: scale(1);
}
/* Author Follow */
author-nav {
    align-items: center;
}
author-nav > .author-follow {
    background-color: transparent;
    font-size: 17px;
    margin-left: auto;
    padding: 0 10px;
}

prompt {
    padding: 10px;
    margin: 20px 0;
    display: block;
    background-color: var(--theme-color);
    color: var(--white);
}
prompt > a {
    color: var(--white);
}
prompt > a:hover {
    color: var(--white);
    opacity: 0.7;
}