author-name {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 2rem;
    word-break: break-word;
    margin: 0 20px;
    text-align: center;
}
author-nav {
    display: flex;
    margin-bottom: 20px;
}
author-nav > a {
    color: var(--text-color);
    border-bottom: 1.5px solid transparent;
    padding: 5px;
    margin: 0 3px;
}
@media only screen and (max-width: 400px) {
    author-nav {
        justify-content: center;
        font-size: 0.9rem;
    }
}
author-nav > a:hover {
    color: var(--text-color);
}
author-nav > a[active],author-nav > a:hover {
    border-color: var(--theme-color);
}
author-nav > a[active] {
    pointer-events: none;
}
author-nav > a.logo-link {
    margin-left: auto;
    padding: 0 5px;
}