popup[new_chapter] {
    max-width: 800px;
}
submit {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
page[page-num="4"] *:focus{
    outline: none;
}
page[page-num="4"] > index > li:not([head]) {
    user-select: none;
    cursor: grab;
}
page[page-num="4"] > .new-chapter::before {
    font-family: 'icons';
    content: '\e916';
    display: inline-block;
    transform: scale(1.4);
    margin-right: 8px;
}
page[page-num="4"] > .new-chapter {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    border-color: transparent;
}
/* Notice */
exciting:empty {
    display: none;
}
/* No Drafts */
folder-listing > span.no-drafts {
    margin-left: 0;
}