main > book {
    display: flex;
    flex-direction: row;
}
main > book > book-header {
    display: flex;
    flex-direction: column;
}
main > book > book-header > book-title {
    display: flex;
    font-size: 1.7rem;
}
main > book > book-header > author {
    display: flex;
    margin-top: -6px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
main > book > book-header > author > a::before {
    color: var(--text-color);
    content: 'by ';
}
main > book > book-header > book-description {
    display: flex;
    margin-bottom: 1rem;
}
/* More */
book-more {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
/* Options */
book-options {
    display: flex;
    flex-direction: row;
}
book-options > a.button:first-child {
    flex: 1;
}
book-options > a.button,button {
    margin-right: 0;
}
book-options > *:not(:first-child)::before {
    font-family: 'icons';
    display: inline-block;
}
book-options > .book-collections::before {
    content: '\e916';
    transform: scale(1.55);
}
book-options > .book-share::before {
    content: '\e908';
    transform: scale(1.4);
}
book-options > .book-offline::before {
    content: '\e949';
    transform: scale(1.4);
}
book-options > .book-offline.active::before {
    content: '\e948';
}
chapter-index {
    margin-top: 10px;
}
chapter-index > label {
    justify-content: center;
}
/* Mobile */
@media only screen and (max-width: 800px) {
    main > book {
        flex-direction: column;
    }
    book-more,
    book-options > a.button {
        margin-left: 0;
    }
}
/* Offline Notice */
offline-notice {
	background-color: var(--transparent-accent);
	color: var(--lightblack);
    display: flex;
    padding: 15px;
    margin: 15px 5px;
}