popup[new_chapter] {
    max-width: 800px;
}
popup[new_chapter]:not([edit-chapter]) a.edit-as-new {
    display: none;
}
popup[new_chapter] a.edit-as-new {
    display: flex;
    margin-left: auto;
    margin-bottom: 15px;
}
popup[new_chapter] a.edit-as-new::before {
    font-family: 'icons';
    content: '\e909';
    display: inline-block;
    margin-right: 4px;
    transform: rotate(-7deg) scale(0.9);
    transform-origin: center;
}
popup[new_chapter] a.edit-as-new::after {
    content: 'Edit as new draft';
}
submit {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
page[page-num="4"] *:focus{
    outline: none;
}
page[page-num="4"] > index > li:not([head]) {
    user-select: none;
    cursor: grab;
}
page[page-num="4"] > .new-chapter::before {
    font-family: 'icons';
    content: '\e916';
    display: inline-block;
    transform: scale(1.4);
    margin-right: 8px;
}
page[page-num="4"] > .new-chapter {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    border-color: transparent;
}
/* Notice */
exciting:empty {
    display: none;
}