main > book > book-header {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
main > book > book-header > book-title {
    display: block;
}
main > book > book-header > book-title {
    font-size: 1.7rem;
}
main > book > book-header > author {
    display: block;
    margin-top: -6px;
    font-size: 1.1rem;
}
main > book > book-header > author > a:first-child {
    display: block;
    margin: 0 auto;
}
main > book > book-header > author > a:first-child::before {
    content: 'by ';
}
main > book > book-header > author > a:nth-child(2) {
    margin: 0 auto;
    font-size: 0.8rem;
    display: block;
    color: var(--text-color);
    opacity: 0.85;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}
main > book > book-header > author > a:nth-child(2)::before {
    content: 'From ';
}
main > book > book-header > a.button {
    display: flex;
    margin: 0 auto;
}
main > book > book-header > book-meta {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}
main > book > tags {
    text-align: center;
    border-bottom: var(--border);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
main > book > book-description {
    display: block;
    border-bottom: var(--border);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
main > book > book-options {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}
main > book > book-options > * {
    display: inline-flex;
    margin: 4px;
    padding: 10px;
    height: 45px;
    width: 45px;
    font-family: 'icons';
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
main > book > book-options > .book-collections::before {
    font-size: 1.4rem;
    content: '\e916';
}
main > book > book-options > .book-share::before {
    font-size: 1.4rem;
    content: '\e908';
}
main > book input.collapsible + label {
    justify-content: center;
}