/* Toggle */
button.search-button {
    z-index: 20;
    --size: 12px;
    height: calc(var(--size) * 2);
    width: var(--size);
    border-radius: 0;
    border-bottom-left-radius: calc(var(--size) * 2);
    border-top-left-radius: calc(var(--size) * 2);
    position: absolute;
    right: calc(calc(var(--size) * -1) + 2px);
    top: 138px;
    padding: 2px;
    cursor: pointer;
}
button.search-button::before {
    font-size: 8px;
    font-family: 'icons';
    content: '\e927';
    position: relative;
    right: -1px;
    top: -0.5px;
}
button.search-button,button.search-button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}
/* Popup */
button.search-button + popup > form > text-input:first-child {
    display: inline-block;
    width: calc(100% - 67px);
}
button.search-button + popup > form > button:nth-child(2)::before {
    font-family: 'icons';
    content: '\e927';
}
button.search-button + popup > results:empty::before {
    content: 'No results found.';
}
button.search-button + popup > results.exceeded::after {
    content: 'Some results aren\'t shown because your search was too broad.';
}
button.search-button + popup > results > a[result] {
    width: 100%;
    display: block;
    position: relative;
    margin: 20px 0;
    color: var(--text-color);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 15px;
}
button.search-button + popup > results > a[result]:hover {
    background-color: var(--hover);
}

button.search-button + popup > results > a[result] > result-title {
    position: absolute;
    background: linear-gradient(to bottom, var(--background-accent) 10px, transparent 20px);
    top: -12px;
    padding: 0 10px;
}

button.search-button + popup > results + loader {
    display: none;
}
button.search-button + popup > results.loading {
    display: none;
}
button.search-button + popup > results.loading + loader {
    display: block;
    margin: 30px auto;
}