/* Popup */
popup.search-story > form > text-input:first-child {
    display: inline-block;
    width: calc(100% - 68px);
}
popup.search-story > form > button:nth-child(2)::before {
    font-family: 'icons';
    content: '\e927';
}
popup.search-story > results:empty::before {
    content: 'No results found.';
}
popup.search-story > results.exceeded::after {
    content: 'Some results aren\'t shown because your search was too broad.';
}
popup.search-story > results > a[result] {
    width: 100%;
    display: block;
    position: relative;
    margin: 20px 0;
    color: var(--text-color);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 15px;
}
popup.search-story > results > a[result]:hover {
    background-color: var(--hover);
}

popup.search-story > results > a[result] > result-title {
    position: absolute;
    background: linear-gradient(to bottom, var(--background-accent) 10px, transparent 20px);
    top: -12px;
    padding: 0 10px;
}

popup.search-story > results + loader {
    display: none;
}
popup.search-story > results.loading {
    display: none;
}
popup.search-story > results.loading + loader {
    display: block;
    margin: 30px auto;
}