chapter {
	display: block;
	margin-bottom: 60px;
}
chapter > chapter-header {
	user-select: none;
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
	transition: background-color 0.2s;
	will-change: background-color;
}
chapter > chapter-header:focus {
	outline: none;
}
chapter > chapter-header > book-info {
	display: block;
}
chapter > chapter-header > book-info > a.title {
	display: block;
}
chapter > chapter-header > book-info > author {
	width: fit-content;
    display: block;
    margin-top: -4px;
    font-size: 12px;
}
chapter > chapter-header > book-info > author > a:first-child::before {
	content: 'by ';
}
chapter > chapter-header > book-info > author > a:nth-child(2) {
    display: block;
    color: var(--text-color);
    opacity: .85;
    text-transform: uppercase;
    letter-spacing: 0;
	font-size: 11px;
}
chapter > chapter-header > book-info > author > a:nth-child(2)::before {
	content: 'FROM ';
}
chapter > chapter-title {
	font-size: 2rem;
}
/* Author Notes */
author-notes {
	margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
author-notes::before {
	content: 'Author Notes: ';
}
author-notes:nth-of-type(1) {
	border-bottom: 1px solid var(--background-accent);
    padding-bottom: 20px;
}
author-notes:nth-of-type(2) {
	border-top: 1px solid var(--background-accent);
    padding-top: 20px;
}
author-notes:empty {
	display: none;
}
chapter > .next-chapter {
	width: 100%;
	margin: 0;
	justify-content: center;
	margin: 20px 0;
}
chapter > .next-chapter[href]::before {
	content: 'Continue';
}
chapter > .next-chapter[href]::after {
    font-family: 'icons';
    content: '\e903';
    font-size: 1.4em;
    margin-top: -1px;
    margin-left: 10px;
}
chapter > .next-chapter:not([href]) {
	cursor: default;
}
chapter > .next-chapter:not([href]):hover {
	box-shadow: none !important;
}
chapter > .next-chapter:not([href])::before {
	content: 'Finished Reading';
}
/* Book Options */
chapter > book-options {
	display: flex;
}
chapter > book-options > button::before {
	font-family: 'icons';
	display: inline-block;
	margin-right: 5px;
}
/* Icons */
chapter > book-options > .book-collections::before {content: '\e916';transform: scale(1.3);margin-right: 6px;}
chapter > book-options > .book-vote::before {content: '\e945';transform: scale(1);}
chapter > book-options > .book-share::before {content: '\e908';transform: scale(1.1);margin-right: 7px;}
chapter > book-options > .book-offline::before {content: '\e949';transform: scale(1.2);margin-right: 6px;}
/* Labels */
chapter > book-options > .book-collections::after {content: 'Collections';}
chapter > book-options > .book-vote::after {content: 'Vote';}
chapter > book-options > .book-share::after {content: 'Share';}
chapter > book-options > .book-offline::after {content: 'Offline';}
/* Pull Right */
chapter > book-options > .book-share {
	margin-left: auto;
}
/* Offline */
chapter > book-options > .book-offline.active::before {
	content: '\e948';
}
@media only screen and (max-width: 600px) {
	chapter > book-options > .book-vote {
		margin-left: 0;
	}
	chapter > book-options > button,
	chapter > book-options > .book-share::before,
	chapter > book-options > .book-offline::before {
		margin-right: 0;
	}
	chapter > book-options > .book-share::after,
	chapter > book-options > .book-offline::after {
		content: unset;
	}
	chapter > book-options > .book-collections,
	chapter > book-options > .book-vote {
		padding: 0 6px;
	}
	chapter > book-options > .book-share,
	chapter > book-options > .book-offline {
		padding: 0 10px;
	}
}
/* Voted */
chapter > book-options > .book-vote.active {
	background-color: var(--theme-color);
    color: var(--white);
}
chapter > book-options > .book-vote.active::after {
	content: 'Voted';
}
/* Offline Notice */
chapter > offline-notice {
	background-color: var(--transparent-accent);
	color: var(--lightblack);
    display: flex;
    padding: 15px;
    margin: 15px 5px;
}
/* Reviews */
reply-to > review, review > review {
	margin-left: 50px;
}
review, reply-to {
	position: relative;
	display: block;
}
reply-to {
	border-left: 4px solid var(--theme-color);
    padding-left: 15px;
}
reply-to::before {
    content: 'Replying to:';
    display: block;
    font-size: 0.9rem;
    padding-bottom: 10px;
    color: #9c9c9c;
    margin-left: -20px;
    background-color: var(--background-color);
}
cancel {
    display: block;
    color: #9c9c9c;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: var(--background-color);
    padding-left: 20px;
    padding-top: 10px;
	margin-left: -40px;
}
cancel:hover {
	color: #b0afaf;
}
reply-to > cancel::before {
	content: 'Cancel';
}
/* Write Review */
write-review {
	display: flex;
	flex-wrap: wrap;
}
write-review > text-input {
	width: 100%;
}
write-review > recaptcha {
	margin-right: 20px;
}
write-review > button {
	margin: auto 0;
    margin-left: auto;
}