collections-container {
    display: block;
    border-bottom: 2px solid var(--grey);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
collections-container > collection {
    display: block;
    position: relative;
    padding: 1rem;
}