overview {
    display: flex;
    position: relative;
}
overview > block {
    flex: 1;
    display: flex;
    height: 120px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
block::before {
    content: attr(label);
}
block::after {
    content: attr(count);
    font-size: 2rem;
}
overview > block:hover {
    background-color: var(--hover);
}