folder-listing:focus {
    outline: none;
}
delete-container {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transition: transform .2s;
    transform: translateY(150px);
}
delete-container > * {
    display: none;
}
delete-container::before {
    font-family: 'icons';
    content: '\e921';
    display: inline-block;
    transform: scale(1.8);
    padding: 5px 10px;
    border-radius: 100px;
}
.draggable--is-dragging delete-container {
    transform: translateY(0);
}
delete-container:hover::before {
    background-color: var(--red);
    color: var(--white);
}