/* Autosave Time */
save-time:empty {
    display: none;
}
save-time::before {
    margin-right: 4px;
    content: 'Saved';
}
save-time {
    user-select: none;
    cursor: pointer;
    color: grey;
    display: flex;
    margin-top: 20px;
    font-size: 0.8rem;
    justify-content: flex-end;
}
/* Revisions */
sidenav[revisions]:empty::before {
    content: 'No versions yet';
    display: block;
    padding: 10px 15px;
}
sidenav[revisions] > li {
    display: block;
    padding: 15px 20px;
    font-size: 0.9rem;
    color: gray;
    cursor: pointer;
    transition: background-color .2s;
}
sidenav[revisions] > li:hover,sidenav[revisions] > li[selected] {
    background-color: var(--theme-color);
    color: var(--white);
}
sidenav[revisions] > li[selected] {
    pointer-events: none;
}
/* Compare Screen */
revision-header > .select-revision::before {
    content: '\e944';
}
revision-header > .close_next-screen::before {
    content: '\e902';
}
revision-header > button {
    border-radius: 100px;
    border-color: transparent;
    padding: 0;
    width: 35px;
    height: 35px;
    margin-left: 0;
}
revision-header > .select-revision {
    margin-right: 0;
    margin-left: auto;
}
revision-header > button::before {
    font-family: 'icons';
    display: inline-block;
    transform: scale(1.4);
}
revision-header > revision-title {
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
revision-header,revision-footer {
    height: 55px;
    display: flex;
    padding: 10px;
    background-color: var(--grey);
}
revision-footer > button {
    margin-right: 0;
    margin-left: auto;
    border-color: transparent;
}
/* Compare */
next-screen[compare-revisions] {
    padding: 0;
}
next-screen[compare-revisions] > compare {
    padding: 15px 20px;
    overflow: auto;
    display: block;
    word-break: break-word;
    height: calc(100vh - 110px);
}
next-screen[compare-revisions] > compare > loader{
    margin: 0 auto;
    display: block;
}
/* Ins/Del */
ins {
    color: rgb(104 140 136);
    background: rgb(0 121 107 / 15%);
    text-decoration: none;
}
del {
    color: var(--red);
    text-decoration: line-through;
}