header {
    margin-bottom: 0;
}
main {
    padding-top: 0;
}
footer {
    display: none;
}
drafts-header {
    margin-top: 20px;
    display: flex;
}
/* Back */
drafts-header > a {
    margin-right: 7px;
}
drafts-header > a::before {
    content: '\e902';
    font-family: 'icons';
    display: inline-block;
    margin-right: 8px;
    transform: scale(1.2) translateY(0.5px);
}
editor {
    background-color: var(--background-color);
    transition: background-color var(--theme-change) ease-in;
}
/* Title */
input[placeholder="Title"] {
    width: 100%;
    background-color: transparent;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    color: var(--text-color);
}
input[placeholder="Title"]:focus {
    outline: none;
}
/* Share Draft */
popup[share_draft] {
    max-width: 450px;
}
popup[share_draft] > p {
    margin-top: 0;
}
popup[share_draft] > button[label="Create Link"] {
    margin: 0;
    float: right;
}
popup[share_draft] > button[label="Create Link"] > loader{
    display: none;
    position: absolute;
    left: 8px;
    top: 6px;
}
popup[share_draft] > button[label="Create Link"]:disabled {
    padding-left: 30px;
}
popup[share_draft] > button[label="Create Link"]:disabled > loader {
    display: inline-block;
}
/* Share Link */
share-link {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
share-link > * {
    display: block;
}
a.share-link {
    overflow: hidden;
    text-overflow: ellipsis;
}
a.share-link::before {
    content: attr(href);
}
share-link > button{
    border-color: transparent;
    margin-right: 0;
    padding: 0 6px;
}
/* Hide */
popup[share_draft] > share-link:not(.copy) {
    display: none;
}
popup[share_draft] > share-link.copy ~ button[label="Create Link"]:hover {
    background-color: var(--red);
}
popup[share_draft] > share-link.copy ~ button[label="Create Link"]::before {
    content: 'Disable Sharing';
}
/* Folder Listing */
popup[prompt_location_save] button[label="Save"] {
    display: block;
    margin-top: 20px;
    float: right;
}