header {
    margin-bottom: 0;
}
main {
    padding-top: 0;
}
/* Autosave Time */
autosave-time:empty {
    display: none;
}
autosave-time::before {
    margin-right: 4px;
    content: 'Autosaved';
}
autosave-time {
    user-select: none;
    cursor: pointer;
    color: grey;
    display: flex;
    margin-top: 20px;
    font-size: 0.8rem;
    justify-content: flex-end;
}
drafts-header {
    margin-top: 20px;
    display: flex;
}
/* Back */
drafts-header > a {
    margin-right: 7px;
}
drafts-header > a::before {
    content: '\e902';
    font-family: 'icons';
    display: inline-block;
    margin-right: 8px;
    transform: scale(1.2) translateY(0.5px);
}
/* Export */
drafts-header > button {
    margin-right: 0;
}
drafts-header > button[label="Preview"] {
    margin-left: auto;
}
/* Title */
input[placeholder="Title"] {
    width: 100%;
    background-color: transparent;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    color: var(--text-color);
}
input[placeholder="Title"]:focus {
    outline: none;
}
editor {
    background-color: var(--background-color);
}
toolbar {
    display: flex;
    border: 1px solid var(--grey);
    border-bottom: none;
    position: sticky;
    top: 52px;
    background-color: var(--background-color);
}
editor:-moz-full-screen > toolbar,
editor:-ms-full-screen > toolbar {
    top: 0;
}
editor:-webkit-full-screen > toolbar,
editor:fullscreen > toolbar {
    top: 0;
}
editor:-moz-full-screen > toolbar + div,
editor:-ms-full-screen > toolbar + div {
    height: calc(100vh - 30px);
}
editor:-webkit-full-screen > toolbar + div,
editor:fullscreen > toolbar + div {
    height: calc(100vh - 30px);
}

toolbar > button[action] {
    font-family: 'icons';
    border-color: transparent;
    margin: 0;
    padding: 0;
    width: 40px;
    border-radius: 0;
    font-size: 1.2rem;
}
toolbar > button[action="bold"]::before {
    content: '\e933';
}
toolbar > button[action="italic"]::before {
    content: '\e934';
}
toolbar > button[action="center"]::before {
    content: '\e935';
}
toolbar > button[action="fullscreen"]::before {
    display: inline-block;
    transform: scale(1.35);
    content: '\e936';
}
toolbar + div {
    border: 1px solid var(--grey);
    padding: 0 10px;
    overflow-x: hidden;
}
/* Save buttons */
toolbar > button[label="Save"] {
    border-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0 10px;
}
button[label="Save"] > dropdown > li::before {
    content: attr(label);
    font-size: 1.25rem;
}
/* Share Button */
toolbar > button[action="share"]::before {
    content: '\e908';
    display: inline-block;
    transform: translateY(-1px) translateX(2px);
}
/* Delete Button */
toolbar > button[action="delete"] {
    margin-left: auto;
}
toolbar > button[action="delete"]::before {
    display: inline-block;
    transform: scale(0.9);
    content: '\e921';
}
/* Share Draft */
popup[share_draft] {
    max-width: 450px;
}
popup[share_draft] > p {
    margin-top: 0;
}
popup[share_draft] > button[label="Create Link"] {
    margin: 0;
    float: right;
}
popup[share_draft] > button[label="Create Link"] > loader{
    display: none;
    position: absolute;
    left: 8px;
    top: 6px;
}
popup[share_draft] > button[label="Create Link"]:disabled {
    padding-left: 30px;
}
popup[share_draft] > button[label="Create Link"]:disabled > loader {
    display: inline-block;
}
/* Share Link */
share-link {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
share-link > * {
    display: block;
}
a.share-link {
    overflow: hidden;
    text-overflow: ellipsis;
}
a.share-link::before {
    content: attr(href);
}
share-link > button{
    border-color: transparent;
    margin-right: 0;
    padding: 0 6px;
}
/* Hide */
popup[share_draft] > share-link:not(.copy) {
    display: none;
}
popup[share_draft] > share-link.copy ~ button[label="Create Link"]:hover {
    background-color: var(--red);
}
popup[share_draft] > share-link.copy ~ button[label="Create Link"]::before {
    content: 'Disable Sharing';
}
/* Folder Listing */
popup[prompt_location_save] button[label="Save"] {
    display: block;
    margin-top: 20px;
    float: right;
}