floater > button.new::before {
    transform: scale(1.2);
    content: '\e916';
}
popup_s[new-action] {
    max-width: 270px;
    height: 120px;
    display: flex;
    justify-content: space-around;
}
popup_s[new-action] > * {
    position: relative;
    flex-direction: column;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 200px;
    transition: background-color .3s, color .3s;
    color: var(--lightblack);
}
popup_s[new-action] > *:hover {
    color: var(--theme-color);
    background-color: var(--hover);
}
popup_s[new-action] > *::before {
    font-family: 'icons';
    display: inline-block;
    transform: scale(1.5);
}
popup_s[new-action] > [label="Draft"]::before {
    content: '\e941';
}
popup_s[new-action] > [label="Folder"]::before {
    content: '\e940';
}
popup_s[new-action] > *::after {
    content: attr(label);
}
popup_s[ask] > p {
    font-weight: bold;
    font-size: 1.1rem;
}