folder-listing > .no-drafts {
    margin-left: 70px;
    margin-top: 20px;
    color: var(--lightblack);
    display: inline-block;
    margin-right: 4px;
}
folder-listing > .no-drafts + a {
    color: var(--text-color);
    opacity: 0.6;
}