faq-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 30px;
}
question-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
question-category::before {
    content: attr(label);
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
question-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
question-wrapper:not(.show) > answer {
    display: none;
}
question, answer {
    display: flex;
    align-items: stretch;
    white-space: break-spaces;
}
question::before, answer::before {
    font-size: 2.5rem;
    display: flex;
    margin-right: 20px;
    margin-top: -15px;
}
question {
    font-size: 1rem;
    font-weight: bold;
}
question::before {
    content: "Q";
    color: var(--theme-color);
}
answer {
    margin-top: 25px;
    font-size: 0.9rem;
    color: grey;
}
answer::before {
    content: "A";
}
/* Ask */
button[label="Ask"] {
    display: block;
    margin-left: auto;
}
text-input {
    margin: 25px 0;
}
helper-text {
    display: flex;
    font-size: 0.8rem;
    color: grey;
    margin-top: -20px;
    margin-left: 5px;
}
/* Single */
.back-to-faq {
    display: flex;
    margin-bottom: 30px;
}
.back-to-faq::before {
    font-family: 'icons';
    content: '\e902';
    display: inline-block;
    transform: scale(1.3) translateY(-1px);
    margin-right: 10px;
}