popup_s[update_collection] {
    max-width: 600px;
}
popup_s[update_collection] > button[label="Save"],popup_s[update_collection] > button[label="Delete"] {
    margin-bottom: 10px;
    margin-right: 0;
}
popup_s[update_collection] > button[label="Save"] {
    float: right;
}
popup_s[update_collection][collection_id="new"] > button[label="Save"]::before {
    content: 'Create';
}
popup_s[update_collection] > button[label="Delete"] {
    background-color: var(--red);
    float: right;
}
popup_s[update_collection][collection_id="new"] > button[label="Delete"],
popup_s[update_collection] > button[label="Delete"]:disabled {
    pointer-events: none;

    border: none;
    background-color: #b17070;
    color: #d0d0d0;
}
popup_s[update_collection] > a.back::before{
    font-size: 85%;
    font-weight: bold;
    content: 'Back to Collections';
    white-space: nowrap;
}

/* AAA */
/* Collections Popup */
popup_s.collections {
    max-width: 600px;
}
popup_s.collections > collection,popup_s.collections > a.new-collection {
    display: flex;
    position: relative;
}
popup_s.collections > collection > label,
popup_s.collections > a.new-collection{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(125, 125, 125, 0.7);
    padding: 15px 10px;
    transition: background-color .3s;
}
popup_s.collections > collection > label:hover,
popup_s.collections > a.new-collection:hover {
    background-color: var(--hover);
}
popup_s.collections > collection > label:active,
popup_s.collections > a.new-collection:active {
    background-color: var(--active);
}
popup_s.collections > collection > collection-options {
    position: absolute;
    display: block;
    width: max-content;
    width: -moz-max-content;
    height: fit-content;
    height: -moz-fit-content;
    top: 0;
    bottom: 0;
    margin: auto 0;

    pointer-events: none;
    opacity: 0;
    left: -20px;
    transition: opacity 0.3s, left 0.3s;
    will-change: pointer-events, opacity, left;
}
popup_s.collections > collection:hover > collection-options {
    pointer-events: all;
    opacity: 1;
    left: 25%;
}
collection-options > a[tooltip-top="View"], collection-options > a[tooltip-top="Edit"] {
    font-family: 'icons';
    color: var(--white);
    width: 36px;
    height: 38px;
    background-color: var(--theme-color);
    border-radius: 4px;
    font-size: 20px;
    margin: 0 5px;
    padding: 3px 8px;
    display: inline-flex;
}
collection-options > a[tooltip-top="Edit"][disabled]{
    background-color: rgba(156, 156, 156, 0.61);
    color: #2f2f2f;
    pointer-events: none;
}
collection-options > a[tooltip-top="View"]::after {
    content: '\e928';
}
collection-options > a[tooltip-top="Edit"]::after {
    content: '\e909';
    transform: scale(0.8);
}