/* General Popups */
popup[login],
popup[signup],
popup[forgot],
popup[email_code] {
    max-width: 300px;
    text-align: center;
}
popup[login] > form,
popup[signup] > form,
popup[forgot] > form,
popup[email_code] > form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}
popup[login] > form > text-input,
popup[signup] > form > text-input,
popup[forgot] > form > text-input,
popup[email_code] > form > text-input {
    margin: 20px 0;
}
popup[login] > form > recaptcha > div,
popup[signup] > form > recaptcha > div,
popup[forgot] > form > recaptcha > div,
popup[email_code] > form > recaptcha > div {
    transform: scale(0.55);
    margin-right: -127px;
}
popup[login] > form > button,
popup[signup] > form > button,
popup[forgot] > form > button,
popup[email_code] > form > button {
    width: 100%;
    margin: 0;
}
popup[login] > a::before,
popup[signup] > a::before,
popup[forgot] > a::before,
popup[email_code] > a::before {
    font-size: 85%;
    font-weight: bold;
    content: attr(label);
}
/* Login Popup */
popup[login] > a:first-of-type::after {
    content: ' - ';
    cursor: default;
}
/* Forgot Popup */
popup[forgot] > form::before {
    display: block;
    text-align: center;
    content: 'A One-Time PIN will be sent to your email.';
    font-size: 0.8rem;
    color: grey;
}