/* General Popups */
popup_s[login],
popup_s[signup],
popup_s[forgot],
popup_s[email_code],
popup_s[create_username] {
    max-width: 300px;
    text-align: center;
}
popup_s[login] > form,
popup_s[signup] > form,
popup_s[forgot] > form,
popup_s[email_code] > form,
popup_s[create_username] > form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}
popup_s[login] > form > text-input,
popup_s[signup] > form > text-input,
popup_s[forgot] > form > text-input,
popup_s[email_code] > form > text-input,
popup_s[create_username] > form > text-input {
    margin: 20px 0;
}
popup_s[login] > form > recaptcha > div,
popup_s[signup] > form > recaptcha > div,
popup_s[forgot] > form > recaptcha > div,
popup_s[email_code] > form > recaptcha > div,
popup_s[create_username] > form > recaptcha > div {
    transform: scale(0.55);
    margin-right: -127px;
}
popup_s[login] > form > button,
popup_s[signup] > form > button,
popup_s[forgot] > form > button,
popup_s[email_code] > form > button,
popup_s[create_username] > form > button {
    width: 100%;
    margin: 0;
}
popup_s[login] > a::before,
popup_s[signup] > a::before,
popup_s[forgot] > a::before,
popup_s[email_code] > a::before,
popup_s[create_username] > a::before {
    font-size: 85%;
    font-weight: bold;
    content: attr(label);
}
/* Login Popup */
popup_s[login] > a:first-of-type::after {
    content: ' - ';
    cursor: default;
}
/* Forgot Popup */
popup_s[forgot] > form::before {
    display: block;
    text-align: center;
    content: 'A One-Time PIN will be sent to your email.';
    font-size: 0.8rem;
    color: grey;
}
/* Code */
code-input {
    display: flex;
    width: 100%;
    padding: 0px 10px;
}

code-input > input {
    min-width: 0;
    display: inline-flex;
    background: transparent;
    width: 100%;
    text-transform: uppercase;
    height: 40px;
    border: none;
    text-align: center;
    color: var(--text-color);
    border-radius: 3px;
}
code-input > input {
    border: 1px solid var(--lightblack);
}
code-input > input:not(:last-child) {
    margin-right: 4px;
}
code-input > input:focus {
    box-shadow: var(--shadow-light);
}