popup_s.share {
    max-width: 600px;
}
popup_s.share > h1 {
    margin-top: 0;
}
popup_s.share > book-title {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
}
popup_s.share > book-author:empty {
    display: none;
}
popup_s.share > book-author::before {
    content: 'by ';
}
popup_s.share > book-author {
    display: block;
    font-size: 1rem;
}
popup_s.share > book-description {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
popup_s.share > share-options {
    display: block;
    text-align: center;
}
popup_s.share > share-options > * {
    --icon-size: 50px;
    font-family: 'icons';
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 100px;
    transition: background-color .2s;
}
popup_s.share > share-options > *:hover {
    background-color: var(--hover);
}
popup_s.share > share-options > *:active {
    background-color: var(--active);
}
popup_s.share > share-options > *::before {
    font-size: 30px;
    line-height: 1;
}
popup_s.share > share-options > .whatsapp::before {
    content: '\e911';
    color: #25D366;
}
popup_s.share > share-options > .facebook::before {
    content: '\e910';
    color: #3B5998;
}
popup_s.share > share-options > .reddit::before {
    content: '\e913';
    color: #FF5700;
}
popup_s.share > share-options > .twitter::before {
    content: '\e912';
    color: #00acee;
}
popup_s.share > share-options > .copy::before {
    content: '\e914';
    color: var(--theme-color);
}
