button[label="Import"] {
    display: block;
    margin: 20px 10px;
    margin-left: auto;
}
main > label.checkbox,label.imported {
    display: block;
    margin: 15px;
}
label.imported {
    margin-left: 45px;
}
label.checkbox > status {
    color: grey;
    font-size: 0.8rem;
    transform: translateY(-2px);
    display: inline-block;
}
label.imported > a::before {
    content: " | ";
    margin: 0 5px;
}
label.imported > a::before,
label.imported > a:hover::before {
    color: var(--text-color);
}