button[label="Import"] {
    display: block;
    margin: 20px 10px;
    margin-left: auto;
}
main > label.checkbox,label.imported {
    display: block;
    margin: 15px;
}
label.imported {
    margin-left: 45px;
}
label > status {
    color: grey;
    font-size: 0.8rem;
    transform: translateY(-2px);
    display: inline-block;
}
label.imported > status {
    transform: translateY(0px);
}
label.imported > a::before {
    content: " | ";
    margin: 0 5px;
}
label.imported > a::before,
label.imported > a:hover::before {
    color: var(--text-color);
}
/* Specific Messages */
[action="disable_autoupdate"]::after {
    content: "Disable auto updates";
}
[action="cancel_reimport"]::after {
    content: "Cancel Re-import";
}
[action="reimport"]::after {
    content: "Re-import story";
}