/* Main */
html {
    overflow: hidden;
}
header {
    margin-bottom: 0;
}
main,chats-container {
    padding: 0;
    max-width: unset;
}
chats-container {
    height: calc(100vh - 53px);
    display: flex;
}
footer {
    display: none;
}
chat-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 8px;
    border-right: 1px solid var(--grey);
    width: 30vw;
    max-width: 250px;
}
chat-list > chat {
    padding: 5px;
    color: var(--darkgrey);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
    min-height: 40px;
    height: 40px;
}
chat-list > chat:hover {
    background-color: rgba(var(--background-accent-v),0.7);
}
chat-list > chat[active] {
    background-color: var(--background-accent);
    transition: background-color var(--theme-change);
    pointer-events: none;
    color: var(--text-color);
}
chat-list > chat::before {
    font-size: 0.9rem;
    content: attr(username);
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* First */
chats {
    display: flex;
    flex-direction: column;
    flex: 1;
}
chats > preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 25%;
}
chats > preview > h3{
    display: flex;
    align-items: center;
    white-space: break-spaces;
}
chats > preview ~ * {
    display: none;
}
.message-icon {
    margin: 0 2.5px;
}
.message-icon::before {
    color: var(--theme-color);
    font-family: 'icons';
    content: "\e937";
    display: inline-block;
    transform: translateY(3px);
}
/* Unread */
chat::after {
    font-family: 'icons';
    content: "\e903";
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
}
chat:not(:hover):not([active])::after {
    opacity: 0;
}
chat:not([unread="0"]):not(:hover)::after {
    opacity: 1;
    font-family: 'Varela Round';
    content: attr(unread) " unread";
    font-size: 0.7rem;
}
/* User Info */
user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--background-accent);
    transition: background-color var(--theme-change);
}
user-info > a {
    /* Also to be removed on phones */
    margin-left: 15px;
}
user-info > a,user-info > a:hover {
    color: var(--text-color);
}
user-info > button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-family: 'icons';
}
user-info > button.back {
    /* Will be show on phones only */
    display: none;
}
user-info > button.blocked {
    color: var(--red);
}
user-info > button:before {
    display: inline-block;
    transform: scale(1.5);
}
user-info > button.back::before {
    content: '\e902';
}
user-info > button.block::before {
    content: '\e929';
}
messages {
    display: flex;
    flex-direction: column;
}
messages {
    flex: 1 1 auto;
    height: 0;
}
messages  {
    position: relative;
    padding-top: 15px;
    padding: 20px;
    overflow: auto;
}
messages new-messages {
    width: 100%;
    min-height: 1px;
    height: 1px;
    display: block;
    background-color: var(--grey);
    margin: 15px 0;
    position: sticky;
    bottom: -15px;
    cursor: pointer;
}
new-messages::before {
    font-size: 0.9rem;
    content: 'New Messages';
    display: block;
    position: absolute;
    left: calc(50% - 65px);
    width: 130px;
    height: 24px;
    top: -12px;
    background-color: var(--background-color);
    transition: background-color var(--theme-change);
    padding: 0 16px;
}
messages message {
    display: block;
    padding: 15px 12px;
    margin: 20px 0;
    width: fit-content;
    max-width: 80%;
    position: relative;
    min-width: 80px;
    font-size: 0.9rem;
}
/* messages message[time="Just Now"]:after {
    left: 70px;
    top: -24px;
} */
messages message::before {
    white-space: nowrap;
    top: -20px;
    position: absolute;
    content: attr(time);
    color: grey;
    left: 0;
    font-size: 0.8rem;
}
messages message[other]::before {
    left: unset;
    right: 0;
}
messages message[my] {
    border-radius: 0px 10px 10px 40px;
    background-color: var(--theme-color);
    transition: background-color var(--theme-change);
    color: var(--white);
    opacity: 0.85;
}
messages message[other] {
    border-radius: 10px 0px 40px 10px;
    background-color: rgb(214 214 214 / 67%);
    color: black;
    margin-left: auto;
}
/* Send */
send-message {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--background-accent);
    transition: background-color var(--theme-change);
    padding: 0 5px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid (var(--text-color));
}
send-message > input {
    display: flex;
    flex: 1;
    border: none;
    background: transparent;
    color: var(--text-color );
    text-overflow: ellipsis;
}
send-message > input[disabled] {
    opacity: 0.5;
}
send-message > button::before {
    display: inline-block;
    font-family: 'icons';
    content: '\e960';
    transform: scale(1.4);
}
send-message > button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    transform: scale(1) !important;
    border: none !important;
    color: var(--theme-color);
}
send-message > button:hover {
    background-color: var(--hover) !important;
    color: var(--theme-color) !important;
}
send-message > button[disabled] {
    opacity: 1;
    background-color: transparent;
    color: rgba(var(--text-color-v),0.3);
}
@media only screen and (max-width: 500px) {
    /* Adjust Sizes */
    chat-list {
        max-width: unset;
        width: 100%;
        border-right: none;
        display: none;
    }
    chat-list.show {
        display: flex;
    }
    chat-list.show ~ chats {
        display: none;
    }
    /* Bring back Back Button */
    user-info > a {
        margin-left: 0;
    }
    user-info > button.back {
        display: inline-block;
    }
    /* Allow Selection of Active User */
    chat-list > chat[active] {
        pointer-events: all;
    }
}