.button[label="Drafts"]::after {
    font-family: 'icons';
    content: '\e909';
    position: absolute;
    left: 8px;
    display: inline-block;
    transform: rotate(-14deg) scale(0.9);
}
.button[label="Drafts"] {
    margin-left: auto;
    display: inline-flex;
    padding-left: 26px;
}
actions {
    display: flex;
    margin-bottom: 20px;
    justify-content: right;
}
a.new-book::before {
    font-family: 'icons';
    display: inline-block;
    content: '\e916';
    transform: scale(1.4) translateX(-1px);
    margin-right: 5px;
}
a.book {
    width: 100%;
    display: block;
    color: var(--text-color);
    padding: 10px;
    transition: background-color .2s;
}
a.book:hover {
    background-color: var(--transparent-accent);
}
book-title {
    font-size: 1.2rem;
}
book-status {
    font-size: 0.85rem;
    float: right;
    color: grey;
}
book-views {
    display: flex;
    justify-content: space-around;
}
book-views > stat {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 2.5rem;
    position: relative;
}
book-views > stat::after {
    margin-top: -8px;
    display: block;
    content: attr(timespan);
    font-size: 0.8rem;
    text-transform: uppercase;
}
/* Zoom in */
a.book book-title,a.book book-status {
    transition: opacity .2s;
}
a.book stat {
    transform-origin: bottom;
    transition: transform .2s;
}
a.book:hover stat {
    transform:scale(1.5);
}
a.book:hover book-title,a.book:hover book-status {
    opacity: 0;
}
@media only screen and (max-width: 500px) {
    actions > .button {
        font-size: 0.6rem;
    }
    actions .button[label="Import Stories"] {
        padding: 0 10px;
        margin-left: 0;
    }
    actions > .button.new-book {
        margin-right: 0;
    }
    actions > .button[label="Drafts"] {
        margin-right: 0;
        padding-left: 22px;
    }
}