/* Book Meta */
book-meta {
    display: flex;
    margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
    book-meta{
        font-size: 0.8rem;
    }
}
book-meta > span {
    margin-right: 10px;
    color: var(--theme-color);
}
book-meta > span::after {
    font-family: 'icons';
    float: left;
    margin-right: 5px;
}
book-meta > span[tooltip-top$="Words"]::after{
    content: '\e915';
}
book-meta > span[tooltip-top="Updated"]::after{
    content: '\e918';
}
book-meta > span[tooltip-top="Collections"]::after{
    content: '\e907';
}
book-meta > span[tooltip-top="Votes"]::after{
    content: '\e945';
}
/* Book Tags */
main-tags,
tags {
    display: block;
    cursor: text;
}
tags > tag-group,
main-tags > tag-group {
    color: var(--darkgrey);
    background-color: var(--background-accent);
    margin: 4px 2px;
    padding: 0 8px;
    border-radius: 50px;
    display: inline-block;
    font-size: 0.9rem;
}
@media only screen and (max-width: 400px) {
    main-tags > tag-group,
    tags > tag-group {
        font-size: 0.8rem;
    }
}
main-tags > tag-group > a:not(:last-child):after,
tags > tag-group > a:not(:last-child):after {
    content: ', ';
    color: var(--text-color);
}
tag-group > a {
    color: var(--darkgrey);
    margin: 0 0px;
    padding: 4px;
    display: inline;
    line-height: 30px;
}
/* Main Tags */
/* main-tags > tag-group {
    background: var(--theme-color);
    opacity: 0.7;
}
main-tags > tag-group > a {
    color: var(--white);
}
main-tags > tag-group > a:hover {
    color: var(--white);
    opacity: 0.7;
}
*/
main-tags > tag-group[name="Fandom"] > a:not(:last-child):after {
    content: '/';
    margin-left: 2px;
    margin-right: -6px;
}
/* Other Tags */
tags {
    margin-bottom: 15px;
}
tags > tag-group::before {
    cursor: pointer;
    font-weight: bold;
    content: attr(name) ": ";
}
/* Collapse Tags */
@media only screen and (max-width: 500px) {
    .book:not(.show) tags {
        display: none;
    }
}
