filter-books {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    user-select: none;
}
filter-books > button{
    margin-left: auto;
}
next-screen > div {
    max-width: 750px;
    margin: auto;
}
@media only screen and (min-width: 800px) {
    next-screen > div {
        padding: 20px;
        box-shadow: var(--elevate-light);
    }
}
select-tag {
    position: relative;
    display: block;
    margin: 25px 0;
    border-bottom: 1px solid #9e9e9e;
    padding: 12px 9px 6px;
}
select-tag::before {
    content: attr(label);
    position: absolute;
    font-size: 0.65rem;
    color: #9e9e9e;
    top: -11px;
    left: 4px;
}
select-tag:empty::after {
    content: 'All';
    color: #9e9e9e;
    font-size: 0.9rem;
}
select-tag > tag {
    display: inline-block;
    font-size: 0.8rem;
    color: rgba(0,0,0,.6);
    line-height: 27px;
    padding: 0 11px;
    border-radius: 16px;
    background-color: #f0f8ff;
    margin-bottom: 5px;
    margin-right: 5px;
}
select-tag > tag[excluded] {
    background-color: #fcd7d7;
}
words-slider::before {
    content: 'Words';
    position: absolute;
    font-size: 0.7rem;
    color: #9e9e9e;
    top: -36px;
    left: -11px;
}
words-slider {
    position: relative;
    display: block;
    margin: 50px 15px 70px;
}
words-slider  div {
    overflow: initial;
}
next-screen > div > words-slider ~ button {
    margin-top: 10px;
}
next-screen > div > button[label="Search"] {
    float: right;
    margin-right: 0;
}
next-screen > div > button[label="Close"] {
    float: right;
}
@media only screen and (max-width: 400px) {
    next-screen > div > words-slider ~ button {
        font-size: 10px;
        padding: 0 10.5px;
    }    
}
/* Popup[tag-name] */
popup[tag-name] {
    padding: 0;
    max-width: 450px;
    max-height: 90%;
}
popup[tag-name].show {
    top: 5%;
}
popup[tag-name] > wrap {
    padding: 10px;
    position: sticky;
    left: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    z-index: 15;
    background-color: var(--background-accent);
    box-shadow: var(--shadow-light);
}
popup[tag-name] > wrap:first-child {
    top: 0;
    padding-bottom: 5px;
}
popup[tag-name] > wrap:last-child {
    bottom: 0;
}
popup[tag-name] > wrap > button.include::before {
    content: 'Include';
}
popup[tag-name] > wrap > button.exclude::before {
    content: 'Exclude';
}
popup[tag-name] > wrap > button.exclude.active, popup[tag-name] > wrap > button.exclude:hover {
    background-color: #f44336;
}

popup[tag-name] > wrap >  button {
    font-size: 10px;
    width: min-content;
    width: -moz-min-content;
    display: block;
    margin: 0 5px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
    popup[tag-name] > wrap >  button {
        font-size: 7.5px;
    }
}
popup[tag-name] > wrap:first-child > button {
    padding: 0 9px;
}
@media only screen and (max-width: 400px) {
    popup[tag-name] > wrap:first-child > button {
        padding: 0 8px;
    }
}
popup[tag-name] > wrap > text-input {
    width: 100%;
    margin: 5px;
}
popup[tag-name] > wrap > button[label="OK"], popup[tag-name] > wrap > button[label="Sort"] {
    margin-left: auto;
}
tag_list {
    display: block;
    padding: 0 10px;
}
tag_list:empty::before {
    content: 'No Tags';
    font-size: 0.85rem;
    color: #9e9e9e;
    display: block;
    margin: 18px;
}
popup[tag-name="character"] div.glide__track > ul {
    margin: 0;
}
tag_list > label.checkbox {
    display: block;
    padding: 11px 10px 9px 10px;
    padding-top: 12px;
    margin: 0;
}
tag_list > label.checkbox:hover {
    background-color: var(--hover);
}
popup[tag-name="character"] > div > div:nth-child(1) {
    margin: 10px 0;
    position: relative;
}
popup[tag-name="character"] > div > div:nth-child(1)::before {
    content: attr(fandom);
    display: block;
    position: relative;
    width: 100%;
    top: 25px;
    text-align: center;
    margin-top: -25px;
}
popup[tag-name="character"] > div > div:nth-child(1) > button {
    border: none;
}
popup[tag-name="character"] > div > div:nth-child(1) > button:hover {
    background-color: var(--hover);
}
popup[tag-name="character"] > div:nth-child(1) > button[data-glide-dir="<"] {
    float: left;
}
popup[tag-name="character"] > div > div:nth-child(1) > button[data-glide-dir="<"]::before {
    font-family: 'icons';
    content: '\e902';
}
popup[tag-name="character"] > div > div:nth-child(1) > button[data-glide-dir=">"] {
    float: right;
}
popup[tag-name="character"] > div > div:nth-child(1) > button[data-glide-dir=">"]::before {

    font-family: 'icons';
    content: '\e903';
}
.glide__slide:not(.glide__slide--active) {
    height: 0;
}