/* Book Meta */
book-meta {
    display: flex;
    margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
    book-meta{
        font-size: 0.8rem;
    }
}
book-meta > span {
    margin-right: 10px;
    color: var(--theme-color);
}
book-meta > span::after {
    font-family: 'icons';
    float: left;
    margin-right: 5px;
}
book-meta > span[tooltip-top="Words"]::after{
    content: '\e915';
}
book-meta > span[tooltip-top="Updated"]::after{
    content: '\e918';
}
book-meta > span[tooltip-top="Collections"]::after{
    content: '\e907';
}
book-meta > span[tooltip-top="Votes"]::after{
    content: '\e945';
}
/* Book Tags */
tags {
    display: block;
    cursor: text;
    margin-bottom: 15px;
}
tags > tag-group {
    color: var(--darkgrey);
    background-color: var(--background-accent);
    margin: 4px 2px;
    padding: 0 8px;
    border-radius: 50px;
    display: inline-block;
    font-size: 0.9rem;
}
@media only screen and (max-width: 400px) {
    tags > tag-group {
        font-size: 0.8rem;
    }
}
tags > tag-group:not([name="Fandom"]):not([name="Language"]):not([name="Rating"]):before {
    cursor: pointer;
    font-weight: bold;
    content: attr(name) ": ";
}
tags > tag-group > a:not(:last-child):after {
    content: ', ';
    color: var(--text-color);
}
tags > tag-group[name="Fandom"] > a:not(:last-child):after {
    content: '/';
}
tag-group > a {
    color: var(--darkgrey);
    margin: 0 0px;
    padding: 4px;
    display: inline-block;
}
/* Collapse Tags */
book:not(.show) > tags > tag-group:not([name="Language"]):not([name="Rating"]) {
    display: none;
}