author-updates {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;
}
author-updates::before {
    content: 'Updates';
    font-weight: bold;
}
author-updates[empty]::after {
    content: 'No updates posted.';
    display: block;
    width: max-content;
    position: absolute;
    top: 50px;
}
author-updates > update {
    display: block;
    position: relative;
    margin: 20px 0;
}
author-updates > update[pinned]::before {
    font-family: 'icons';
    content: '\e920';
    position: absolute;
    top: -1px;
    font-size: 0.9rem;
    color: gray;
}
author-updates > update[pinned] > update-time {
    margin-left: 13px;
}
author-updates > update > update-time {
    content: attr(time) ' ago';
    display: block;
    font-size: 0.8rem;
    color: gray;
}
author-updates > update > button.dropdown > dropdown > [label="Pin"]::before {
    font-family: 'icons';
    content: '\e920';
}
author-updates > update > button.dropdown > dropdown > [label="Delete"]::before {
    font-family: 'icons';
    content: '\e921';
}
author-updates > update > button.dropdown > dropdown > *:after {
    margin-left: 9px;
    content: attr(label);
}
author-updates > update > content {
    white-space: break-spaces;
}
author-updates > .button.more {
    position: relative;
    width: -webkit-fill-available;
    width: -moz-available;
    border-color: transparent;
}
author-updates > .button.more::before {
    padding-right: 7px;
    font-family: 'icons';
    content: '\e904';
    font-size: 16px;
}
author-updates > .button.more::after {
    content: 'More Updates';
}