chapter > content {
    --fontSize: 8;
	--width: 10;
	--lineHeight: 3;
    --paragraphHeight: 2;
    font-size: calc( var(--fontSize) * 2px );
    width: calc(10% * var(--width));
	line-height: calc( var(--lineHeight) * 0.5em);
}
chapter > content > p {
    margin-block-end: calc( var(--paragraphHeight) * 0.5em);
	margin-block-start: calc( var(--paragraphHeight) * 0.5em);
}

/* Accessibility */
button.acs-button {
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 20px;
    text-indent: -14px;
    right: -25px;
    border-radius: 2000px;
    background-color: var(--text-color);
    color: var(--background-color);
}
button.acs-button:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}
button.acs-button::before {
    font-family: 'icons';
    content: '\e902';
}
button.acs-button + popup {
	width: 240px;
}
change-options {
	position: relative;
	font-family: 'icons';
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}
change-options[action="fontSize"]::before {
	content: '\e926';
}
change-options[action="lineHeight"]::before {
	content: '\e925';
}
change-options[action="paragraphHeight"]::before {
	content: '\e924';
}
change-options[action="width"]::before {
	content: '\e923';
}
change-options::before {
    font-size: 22px;
    left: 90px;
    bottom: -1px;
	position: absolute;
}
change-options > button:first-child {
	margin-left: 0;
	margin-right: 25px;
}
change-options > button:last-child {
	margin-left: 25px;
	margin-right: 0;
}
change-options > button:first-child::before {
	content: '\e916';
}
change-options > button:last-child::before {
	content: '\e917';
}
/* Fonts */
change-options[action="font"] {
	font-family: 'Varela Round';
	justify-content: flex-end;
}
change-options[action="font"] > button {
	margin: 0;
	z-index: 10;
}
change-options[action="font"] > button.dropdown::before {
	content: '';
}
change-options[action="font"] > button > dropdown > * {
	font-size: 1.4rem;
}
change-options[action="font"] > button > dropdown > *:nth-child(1)::before {
	content: 'Default';
	font-family: 'Varela Round';
}
change-options[action="font"] > button > dropdown > *:nth-child(2)::before {
	content: 'Open Sans';
	font-family: 'Open Sans';
}
change-options[action="font"] > button > dropdown > *:nth-child(3)::before {
	content: 'Roboto';
	font-family: 'Roboto';
}
change-options[action="font"] > button > dropdown > *:nth-child(4)::before {
	content: 'Montserrat';
	font-family: 'Montserrat';
}
change-options[action="font"] > button > dropdown > *:nth-child(5)::before {
	content: 'Pangolin';
	font-family: 'Pangolin';
}
change-options[action="font"] > button > dropdown > *:nth-child(6)::before {
	content: 'Raleway';
	font-family: 'Raleway';
}
/* Themes */
change-options[action="theme"] > div {
	width: 45px;
	height: 45px;
	border-radius: 200px;
	margin: 0 5px;
	cursor: pointer;
	box-shadow: var(--shadow-strong);
}
change-options[action="theme"] > div[color="light"] {
	background-color: #fdfdfd;
}
change-options[action="theme"] > div[color="dark"] {
	background-color: #121212;
}
change-options[action="theme"] > div[color="peach"] {
	background-color: #edd1b0;
}
