[block] {
    display: block;
    overflow: auto;
    margin: 10px 0;
}
[flex] {
    display: flex;
    margin: 10px 0;
}
[width="full"] {
    width: 100%;
}
[width="half"] {
    width: 50%;
}
[width="quarter"] {
    width: 25%;
}