/* Main */
:root {
    /* Light Theme */
    --theme-color: #007acc;
    --text-color: #262828;
    --background-color: #fdfdfd;
    --background-accent: #ececec;
    --transparent-accent: rgb(128 128 128 / 12%);

    /* RGB Values */
    --theme-color-v: 0, 122, 204;
    --text-color-v: 38, 40, 40;
    --background-color-v: 253, 253, 253;
    --background-accent-v: 236, 236, 236;

    --hover: rgba(206,206,206,.22);
    --border: 1.5px solid rgba(129, 129, 129, 0.49);
    --shadow-light:
        0px 0px 4px 0px #646464;
    --shadow-strong:
        0px 0px 10px 0px #646464;
    --shadow-faded:
        rgb(105 105 105 / 15%) 0px 1px 3px 1px;
    --elevate-light:
        0 0 2px 0 var(--transparent-accent),
        0 4px 16px 0 var(--transparent-accent);
    --elevate-strong:
        0 3px 17px 1px rgba(var(--text-color-v),.14),
            0 -6px 3px -12px rgba(var(--text-color-v),.12),
            0 2px 1px -12px rgba(var(--text-color-v),0.05);
    /* --elevate-strong:
        0 8px 10px 1px rgba(var(--text-color-v),.14),
        0 3px 14px 2px rgba(var(--text-color-v),.12),
        0 5px 5px -3px rgba(var(--text-color-v),.2); */

    --font: 'Varela Round';

    --theme-change: .4s;
}
/* Colors */
:root {
    --red: #bd3535;
    --lightred: #ff4f4f;
    --fadedred: #ffcdcd;
    --grey: rgb(146 146 146 / 22%);
    --darkgrey: #969696;
    --white: #fdfdfd;
    --lightwhite: #b7bfc4;
    --black: #262828;
    --lightblack: #5f6368;
    --normalgrey: rgb(147 147 147 / 60%);
}
::-moz-selection {
    background: rgba(var(--theme-color-v),0.2);
    color: var(--text-color);
}
::selection {
    background: rgba(var(--theme-color-v),0.2);
    color: var(--text-color);
}
html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 15px;
    font-family: var(--font), sans-serif;
    line-height: 1.6;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}
header,html {
    will-change: background-color, color;
    transition: background-color var(--theme-change), color var(--theme-change);
}
/* Scrollbar */
*::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}
*::-webkit-scrollbar {
    background: transparent;
    width: 5px;

}
* {
    scrollbar-color: var(--theme-color) transparent;
    scrollbar-width: thin;
    scrollbar-width: 1px;
}
/* Styles General */
a {
    width: fit-content;
    width: -moz-fit-content;
    color: var(--theme-color);
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
a[disabled] {
    color: var(--grey);
    pointer-events: none;
}
*,
*::before,
*::after{
    word-break: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a,button,div,label,
a::before,button::before,div::before,label::before,
a::after,button::after,div::after,label::after{
    word-break: keep-all;
}
*:focus,
*:focus::before,
*:focus::after,
*:active,
*:active::before,
*:active::after {
    outline: none;
}
div {
    overflow: auto;
}
/* Header */
header {
    overflow: visible;
    width: 100%;
    user-select: none;
    color: var(--theme-color);
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--grey);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 54;
    height: 53px;
}
header > .logo {
    font-weight: bold;
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px 10px 0px;
    white-space: nowrap;
}
header > nav {
    margin-left: auto;
    display: flex;
}
header > nav > drop.dropdown.waves-effect {
    overflow: visible;
}
header > nav > * {
    transition: background-color .2s;
    cursor: pointer;
    color: var(--lightblack);
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
}
header > nav > *.active {
    color: var(--theme-color);
}
/* Waves */
.waves-effect .waves-ripple {
    background-color: var(--transparent-accent) !important;
}
header > nav > *:hover {
    color: var(--lightblack);
}
footer {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
footer > nav > a {
    color: var(--text-color);
    font-size: 0.9rem;
}
footer > nav > a:not(:last-child)::after {
    color: var(--text-color);
    content: '/';
    pointer-events: default;
    padding: 0 6px;
    margin-right: -4px;
}
/* Main */
main {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}
@media only screen and (max-width: 400px) {
    main,footer {
        max-width: 960px;
        padding: 20px 5px;
    }
    footer {
        padding-bottom: 50px;
    }
}
/* Dark Mode */
dark-mode {
    --size: 15px;
    background: black;
    height: calc(var(--size) * 2);
    width: var(--size);
    border-bottom-right-radius: calc(var(--size) * 2);
    border-top-right-radius: calc(var(--size) * 2);
    z-index: 10;
    position: fixed;
    right: 0;
    top: 38px;
    cursor: pointer;
    box-shadow: var(--shadow-strong);
}
dark-mode::before {
    content: '';
    background: white;
    height: calc(var(--size) * 2);
    width: var(--size);
    border-bottom-left-radius: calc(var(--size) * 2);
    border-top-left-radius: calc(var(--size) * 2);
    position: absolute;
    right: var(--size);
    box-shadow: var(--shadow-strong);
}
/* For mobile */
@media only screen and (max-width: 500px) {
    dark-mode {
        top: -15px;
    }
    header {
        border-top: 1px solid var(--grey);
        border-bottom: none;
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        top: unset;
    }
    header > .logo, header > nav > * {
        padding: 20px;
    }
    header > .logo.active {
        color: var(--theme-color);
    }
    header > .logo {
        color: var(--lightblack);
        display: flex;
        align-items: center;
        width: fit-content;
        width: -moz-fit-content;
    }
    header > .logo > svg{
        display: none;
    }
    header > nav > * {
        font-size: 0;
    }
    header > nav > *::before,
    header > .logo::before {
        font-size: 1rem;
        font-family: 'icons';
        display: inline-block;
        transform: scale(1.4) translateY(-5px);
    }
    header > nav > *::after,
    header > .logo::after {
        font-size: 0.7rem;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        text-align: center;
    }
    header > nav > .dropdown > dropdown {
        top: unset;
        bottom: -1px;
        transform-origin: bottom right !important;
    }
    main {
        margin-bottom: 60px;
    }
    /* Individual Icons */
    header > .logo::before {
        transform: scale(1.6) translateY(-5px);
        content: '\e942';
    }
    header > .logo::after {
        content: 'Home';
    }
    header > nav > *[href="/read"]::before {
        content: '\e915';
    }
    header > nav > *[href="/read"]::after {
        content: 'Read';
    }
    header > nav > *[href="/my-stories"]::before {
        content: '\e909';
    }
    header > nav > *[href="/my-stories"]::after {
        content: 'Write';
    }
    header > nav > *[href="/collections"]::before {
        content: '\e907';
    }
    header > nav > *[href="/collections"]::after {
        content: 'Collections';
    }
    header > nav > .dropdown::before,
    header > nav > [onclick="prompt_login();"]::before {
        content: '\e943';
        transform: scale(1.8) translateY(-5px);
    }
    header > nav > .dropdown::after {
        content: 'Me';
    }
    header > nav > [onclick="prompt_login();"]::after {
        content: 'Login';
    }
}
/* Tags Default */
mark {
    background-color: var(--theme-color);
    transition: background-color var(--theme-change);
    color: var(--white);
}
blockquote {
    margin: 20px 0;
    border-left: 4px solid var(--theme-color);
    padding: 20px;
}
pre {
    white-space: pre-line;
}
hr,div.hr {
    width: 100%;
    display: flex;
    margin: 2em 0;
    height: 2px;
    background-image:
    linear-gradient(to right,
        rgba(var(--text-color-v),0.05),
        rgba(var(--text-color-v),0.3),
        rgba(var(--text-color-v),0.05)
    );
    border: none;
}
