popup_s[confirmation] {
    max-width: 450px;
}
popup_s[confirmation] > p {
    margin-top: 0;
}
popup_s[confirmation] > button[label="Cancel"]:hover {
    background-color: var(--red);
}
popup_s[confirmation] > button {
    margin-right: 0;
    float: right;
}