options-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 160px;
    background-color: var(--background-accent);
    box-shadow: var(--elevate-stack);
    user-select: none;
    z-index: 52;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
options-menu.show {
    opacity: 1;
    pointer-events: all;
}
options-menu > li {
    display: flex;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color .2s;
    color: rgba(var(--text-color-v),.7);
}
options-menu > li:hover {
    background-color: var(--hover);
}
options-menu > li:active {
    background-color: var(--active);
}
/* Icons */
options-menu > li::before {
    font-family: 'icons';
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}
options-menu > li.listen::before {
    content: "\e956";
    transform: scale(0.9);
}
options-menu > li.quote::before {
    content: "\e958";
    transform: scale(0.9);
}