.next-screen {
    z-index: 53;
}
next-screen {
    padding: 20px;
    z-index: 54;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* Transition */
    transform: translateX(100%);
    transform-origin: right;
    transition:
        transform 0.4s,
        opacity .4s,
        background-color 0.3s
    ;
    will-change: transform, opacity;
    opacity: 0;
}
next-screen.show {
    transform: translateX(0%);
    opacity: 1;
    transition:
        transform 0.3s,
        opacity .3s cubic-bezier(0.45, 1.21, 1, 1),
        background-color 0.3s
    ;
}
next-screen > cross-button {
    cursor: pointer;
    color: #ff3c3c;
    font-size: 20px;
    padding: 0px 15px;
    border-radius: 0 0 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}
next-screen > cross-button:before {
    content: '\00D7';
}
next-screen > cross-button:hover {
    background-color: var(--hover);
}
next-screen > cross-button:active {
    background-color: var(--activ:active);
}