popup-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 54;
    transform: scale(0);

    /* Transition */
    transition: opacity 0.3s;
    will-change: opacity;
}
popup-overlay.show {
    transform: scale(1);
    opacity: 0.5;
}
.popup {
    z-index: 54;
}
popup {
    display: block;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--background-accent);
    border-radius: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: fit-content;
    height: -moz-fit-content;
    min-height: 10%;
    max-height: 70%;
    z-index: 55;

    /* Transition */
    transform: scale(0);
    transition: transform 0.2s;
    will-change: transform;
}
popup.show {
    transform: scale(1);
}