:root {
    --sidenav-width: 30vw;
}
@media only screen and (max-width: 900px) {
    :root {
        --sidenav-width: 40vw;
    }
}
@media only screen and (max-width: 550px) {
    :root {
        --sidenav-width: 50vw;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --sidenav-width: 60vw;
    }
}
@media only screen and (max-width: 300px) {
    :root {
        --sidenav-width: 70vw;
    }
}
body {
    transition: transform .3s;
}
body.sidenav-collapse {
    transform: translateX(calc(var(--sidenav-width) * -1));
}
sidenav {
    width: var(--sidenav-width);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-accent);
    z-index: 90;
    /* Transition */
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;
}
sidenav.show {
    transform: scaleX(1);
}