
.switch {
    cursor: pointer;
    --switch-onsurface-rgb: var(--text-color);
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--switch-onsurface-rgb, 0, 0, 0), 0.87);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--switch-onsurface-rgb, 0, 0, 0), 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
}

/* text */
.switch > text {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Track */
.switch > text::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: var(--switch-onsurface-rgb, 0, 0, 0);
    opacity: 0.38;
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.switch > text::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.switch > input:checked {
    right: -10px;
    background-color: var(--theme-color);
}

.switch > input:checked + text::before {
    background-color: var(--theme-color);
}

.switch > input:checked + text::after {
    background-color: var(--theme-color);
    transform: translateX(16px);
}

/* Active */
.switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.switch > input:active + text::before {
    background-color: var(--theme-color);
}

.switch > input:checked:active + text::before {
    background-color: var(--theme-color);
}

/* Disabled */
.switch > input:disabled {
    opacity: 0;
}

.switch > input:disabled + text {
    color: rgb(var(--switch-onsurface-rgb, 0, 0, 0));
    opacity: 0.38;
    cursor: default;
}

.switch > input:disabled + text::before {
    background-color: rgba(var(--switch-onsurface-rgb, 0, 0, 0), 0.38);
}

.switch > input:checked:disabled + text::before {
    background-color: var(--theme-color);
}
