text-input {
    margin: 15px 0;
    display: block;
    position: relative;
}
text-input > input, text-input > textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    background-color: transparent;
    color: var(--text-color);
    padding: 15px 10px 10px 4px;
    transition: border-color .2s;
    will-change: border-color;
    position: relative;
}
text-input > textarea {
    overflow: hidden;
    resize: none;
    min-height: 43px;
    min-width: 100%;
    max-width: 100%;
    height: 43px;
}
text-input > label {
    pointer-events: none;
    color: #9e9e9e;
    position: absolute;
    top: 12px;
    left: 3px;
    transform-origin: left;
    transition: top .2s, transform .2s, color .2s;
    will-change: transform, top, color;
}
text-input > input:focus,
text-input > textarea:focus{
    border-color: var(--theme-color);
}
text-input > input:focus ~ label,
text-input > textarea:focus ~ label{
    color: var(--theme-color);
}
text-input > input:focus ~ label,
text-input > input.filled ~ label,
text-input > textarea:focus ~ label,
text-input > textarea.filled ~ label{
    top: -12px;
    transform: scale(0.75);
}
/* Invalid */
text-input > input.invalid {
    border-color: var(--lightred);
}
text-input > input.invalid ~ label {
    color: var(--lightred);
}
/* Disabled */
text-input > input[disabled] {
    border-color: var(--grey);
}
text-input > input[disabled] ~ label{
    color: var(--grey);
}