:root
{
	--sidebar-size: 210px;
}
/* Edit Book */
.draggable-source--is-dragging {
    visibility: hidden;
}
#select-chapters .chapters-list .row,#select-chapters .chapters-list{
    outline:none !important;
}
#select-chapters .chapters-list .row{
    cursor: pointer;
    user-select:none;
}
#select-chapters .chapters-list .row .material-icons{
    margin-right:10px;
}
/* Edit Chapter */
@media only screen and (min-width: 600px){
    .editorWrap .toolbar {
        overflow: visible !important;
    }
}
.editorWrap + label{
    transform:none !important;
    left:15px !important;
    top:-4px !important;
}

.top-bar{
    text-align: right;
    margin-bottom: 2px;
}
.editorWrap{
    border:1px solid #ccc;
}
.editorWrap:fullscreen {
    background-color:var(--background-color);
    color: var(--text-color);
}
.editorWrap:fullscreen .editor{
    max-height:calc(100vh - 75px) !important;
    height:calc(100vh - 75px);
}
.editorWrap .toolbar{
    font-size:0 !important;
    border-bottom:1px solid #ccc;
    white-space: nowrap;
    overflow: auto;
}
.editorWrap .editor p{
    margin:0 !important;
    min-height:21px;
}
.editorWrap button{
    position:relative;
    outline:none !important;
    background-color:transparent;
    color:var(--text-color);
    border-radius:0px;
}
.editorWrap button.active,.editorWrap button:hover{
    background-color:var(--theme-color);
    color:var(--background-color);
}
.editorWrap .word-count{
    height: 34px;
    border-top:1px solid #ccc;
    padding: 5px;
    color: grey;
}
.editorWrap .editor{
    min-height:100px;
    outline:none !important;
    padding:10px;
    max-height: 500px;
    overflow: auto;
}
/* Autosaves */
.autosaves-header{
    margin-bottom: 10px;
}
.autosaves-list:empty:after {
    content: 'No autosaves found.';
    font-size: 13px;
}
.autosave-time{
    font-size: 13px;
    margin-bottom: 6px;
    text-align: right;
    width: auto;
}
.autosave{
    margin-bottom:16px;
}
.autosave-edit{
    font-size: 12px;
    width: max-content;
    float: left;
}

.collection a:focus{
    outline:none !important;
}
.collection .collection-item.active {
    color: var(--background-color) !important;
}
.book-stat{
    padding:14px !important;
}
.book-stat:hover{
    background-color:rgba(0,0,0,0.05);
}
#dashboard-sidenav{
    width: var(--sidebar-size);
}
#wpadminbar{
	display:none !important;
}
footer.site-footer{
    display:none;
}
@media only screen and (max-width : 992px) {
	.custom-logo-link{
		margin-left: 40px;
	}
	#dashboard-sidenav{
        background-color: var(--background-color);
    }
    .sidenav-trigger{
        display:block;
		position: absolute;
		top: 45px;
		left: 23px;
    }
	@media only screen and (min-width : 710px) {
		.sidenav-trigger{
			top: 70px;
		}
	}
}
@media only screen and (min-width : 993px) {
    #masthead{
    	padding:0;
    }
	#dashboard-sidenav{
        z-index: 996;
    }
	.site-content{
		padding:0 !important;
	}
	header, main, footer {
	  padding-left: var(--sidebar-size) !important;
	}
	.sidenav-trigger{
		display:none;
	}
	#dashboard-sidenav{
		background-color:rgba(0,0,0,0.05);
	}
}
/*Chats*/
.collection-item i.fas{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);    
}
i.fas.online{
    color: #32CD32;    
}
i.fas.offline{
    color: #ff1818;
}
/*Messages*/
.chat{
    margin: .5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 20px;    
}
@media only screen and (max-width : 992px) {
    .chat{
        border: 0px;
        border-radius: 0px;    
    }
}
.chat-window{
    width  : 100%;
    max-height: 50vh;
    margin: 0;
    overflow: auto;
}
.message-block{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 15px;
}
.other .message-data{
    text-align:right;
}
.message-status{
    padding-right:10px;
    padding-left:10px;
}
.message-status i {
    font-size:10px;
}
.message-status.read{
    color: var(--theme-color);
}
.message-status.sent{
    color: var(--secondary-color);
}
.my .message-data{
    text-align:left;
}
.message{
    margin: 5px 0 0 0;
    position: relative;
    padding: 20px;
    border-radius: 25px;
    max-width: 90%;
}
.other .message{
    float: right;
    background-color: var(--light-theme-color);
}
.my .message{
    float:left;
    background-color: var(--theme-color);
    color:white;
}
.message-time{
    color:grey;
}
/*Chat Window Scroller */
.chat-window{
    overscroll-behavior:contain;
}
.chat-window::-webkit-scrollbar {
	width: 7px;
	background-color: var(--background-color);
}
.chat-window::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--light-theme-color);
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: var(--mid-theme-color);
}

.chat-window::-webkit-scrollbar-thumb:active {
  background: var(--mid-theme-color);
}

/* Tooltips */
[tooltip]:hover::before {
    content: "" attr(tooltip) "";
    position: absolute;
    width: max-content;
    top: -50px;
    background: #555;
    padding: 10px;
    color: white;
    left: -38.5%;
    min-width:70px;
    border-radius: 5px;
  
}
[tooltip]:hover::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0;
    left: 37%;
    top: -16px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #555;
}
/* Materialize tooltips */
/* Issue with current is that parent has to be assigned overflow:visible; */
.material-tooltip {
    background-color: #555;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}