input.collapsible {
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 0;
    opacity: 0;
}
input.collapsible + label{
    pointer-events: none;
    border: var(--border);
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    margin-top: -58px;
    padding: 10px;
}
input.collapsible + label::after {
    font-family: 'icons';
    content: '\e904';
    margin-left: auto;
}
input:checked.collapsible + label::after {
    content: '\e922';
}
input.collapsible + label + collapsible {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;

    margin-bottom: 10px;
    border: var(--border);
    border-top: none;
    width: 100%;
    display: block;
    max-height: 0;
    opacity: 0;
    transition:
        max-height .2s,
        padding-top .2s,
        padding-bottom .2s,
        opacity .05s;
    will-change: max-height, opacity, padding-top, padding-bottom;
    overflow: hidden;
}
input.collapsible:checked + label + collapsible {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
    opacity: 1;
}