# Caching
<filesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

Options -Indexes
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/sitemap/
RewriteCond %{REQUEST_URI} !^/content/manifest
RewriteRule ^(.+)$ index.php [QSA,L]