input.collapsible {
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 0;
    opacity: 0;
}
input.collapsible + label{
    pointer-events: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    margin-top: -58px;
    padding: 10px;
}
input.collapsible + label::after {
    font-family: 'icons';
    content: '\e904';
    margin-left: 10px;
}
input:checked.collapsible + label::after {
    content: '\e922';
}
input.collapsible+label+collapsible {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s;
    will-change: max-height;
}

input.collapsible:checked+label+collapsible {
    max-height: 5000px;
}