index {
    display: table;
    width: 100%;
    vertical-align: middle;
}
index > * {
    vertical-align: inherit;
    height: 40px;
    display: table-row;
    color: var(--text-color);
    will-change: background-color;
    transition: background-color .2s;
}
index > *:hover {
    color: var(--text-color);
}
index > * > cell {
    min-width: 20px;
    vertical-align: inherit;
    display: table-cell;
}
@media screen and (max-width: 600px) {
    index > * > cell {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 500px) {
    index > * > cell {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 400px) {
    index > * > cell {
        font-size: 0.7rem;
    }
}
index > *:not([head]):hover {
    background-color: var(--hover);
}