important, exciting {
    padding: 12px;
    display: block;
    margin: 25px 40px;
}
important {
    color: var(--black);
    background-color: var(--fadedred);
}
exciting {
    color: var(--black);
    background-color: rgb(168 220 255 / 84%);
}