important, exciting {
    padding: 12px;
    display: block;
    margin: 25px 40px;
}
important {
    color: black;
    background-color: #ffcdcd;
}
exciting {
    color: black;
    background-color: rgb(168 220 255 / 84%);
}