select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 25px 0;
    width: 100%;
    padding: 5px;
    height: 2.6rem;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
    color: var(--darkgrey);
}
select + label {
    position: relative;
    display: block;
}
select + label::before {
    content: attr(label);
    position: absolute;
    font-size: 0.65rem;
    color: var(--darkgrey);
    top: -75px;
    left: 4px;
}
select:focus {
    outline: none;
}
select > option {
    background-color: var(--background-accent);
    color: var(--text-color);
}