[tooltip-top],[tooltip-bottom] {
    position: relative;
}
[tooltip-top]::before, [tooltip-bottom]:after {
    /* Basic */
    width: max-content;
    width: -moz-max-content;
    max-width: 320px;
    
    display: inline-block;
    position: absolute;
    background: #212020;
    color: #FFF;
    padding: 6px;
    border-radius: 2px;
    overflow:hidden;
    text-transform: none;
    font-size: 10px;
    font-family: var(--font);

    /* Positioning */
    transition: transform .2s;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    will-change: transform;
}
[tooltip-top]::before {
    transform-origin: bottom;
    bottom: 110%;
    content: attr(tooltip-top);
}
[tooltip-bottom]::after {
    transform-origin: top;
    top: 110%;
    content: attr(tooltip-bottom);
}
[tooltip-top]:hover::before,[tooltip-bottom]:hover::after {
    transform: translateX(-50%) scaleY(1);
}