[tooltip-top],[tooltip-bottom] {
    position: relative;
}
[tooltip-top]::before, [tooltip-bottom]:after {
    display: inline-block;
    position: absolute;
    background: #212020;
    color: #FFF;
    padding: 6px;
    border-radius: 2px;
    opacity:0;
    transition:0.2s;
    overflow:hidden;
    pointer-events: none;
    text-transform: none;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    will-change: opacity, top, bottom;
    font-family: 'Varela Round';
}
[tooltip-top]::before {
    bottom: 50%;
    content: attr(tooltip-top);
}
[tooltip-bottom]::after {
    top: 50%;
    content: attr(tooltip-bottom);
}
[tooltip-top]:hover::before {
    opacity:1;
    bottom: 100%;
}
[tooltip-bottom]:hover::after {
    opacity:1;
    top: 100%;
}