/* Custom Checkboxes */
label.checkbox {
  margin: 0 10px;
  cursor: pointer;
}
label.checkbox > input[type="checkbox"]{
  --checkbox-size: 17px;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
	position: relative;
	cursor: pointer;
  visibility: hidden;
  -moz-appearance: initial;
	outline: none;
	vertical-align: top;
  }
  label.checkbox > input[type="checkbox"] + text {
    padding-left: 10px;
	  display: inline-block;
	  max-width: calc(100% - 30px);
      font-size: 14px;
      position: relative;
      top: -2.5px;
  }
  label.checkbox > input[type="checkbox"]:after{
  visibility: visible;
	content: '';
	display: block;
	border: 2px solid #5a5a5a;
	position: absolute;
	top: 0;
	left: 0;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
  }
  label.checkbox > input[type="checkbox"]:checked:after{
    border: 2px solid transparent;
  }
  label.checkbox > input[type="checkbox"]:checked:before {
    visibility: visible;
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 21px;
    z-index: 11;
}
  label.checkbox > input[type="checkbox"]:not(.cross):checked:before{
	color: var(--theme-color);
	font-family: 'icons';
	content: '\e901';
  }
  label.checkbox > input[type="checkbox"].cross:checked:before{
	color: red;
	font-family: 'icons';
	content: '\e900';
  }